<form name="vm.addressForm" class="form-horizontal" role="form" novalidate>
    <section>
    <div class="row">
        <div class="col-sm-12">
            <h6> Address</h6>
            <div class="form-group">
                <label class="">
                    <input type="radio" name="domesticForeign" id="domestic" ng-value="false" ng-model="address.isForeign" ng-checked="!address.isForeign"> US/Canada
                </label>
                <label class="">
                    <input type="radio" name="domesticForeign" id="foreign" ng-value="true" ng-model="address.isForeign" ng-click="vm.resetCountry()" ng-checked="address.isForeign"> Outside US/Canada
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group validationContainer">
                <label class="control-label" class="control-label" for="street1">Address 1 </label>
                <input  id="street1" name="street1" type="text" class="form-control input-sm" placeholder="e.g. 123 ABC Street" ng-model="address.street1" required validation-message ng-invalid-pattern="vm.postOfficeBoxRegEx" ng-invalid-pattern-message="cannot be a PO box." ng-invalid-pattern-if="{{vm.isPhysical}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group validationContainer">
                <label class="control-label" for="street2">Address 2</label>
                <input id="street2" name="street2" type="text" class="form-control input-sm" placeholder="e.g. Unit #10" ng-model="address.street2" validation-message ng-invalid-pattern="vm.postOfficeBoxRegEx" ng-invalid-pattern-message="cannot be a PO box.">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-show="address.isForeign || address.street2">
            <div class="form-group validationContainer foreignCountryAddress">
                <label class="control-label" for="street3">Address 3</label>
                <input id="street3" name="street3" type="text" class="form-control input-sm" placeholder="" ng-model="address.street3" validation-message ng-invalid-pattern="vm.postOfficeBoxRegEx" ng-invalid-pattern-message="cannot be a PO box.">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group validationContainer">
                <label class="control-label" for="city">City</label>
                <input id="city" name="city" type="text" class="form-control input-sm" ng-model="address.city" required validation-message>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-hide="address.isForeign">
            <div class="form-group validationContainer">
                <label class="control-label" for="stateId">State/Province</label>
                <select id="stateId" name="stateId" class="form-control input-sm" ng-options="state.id as state.value for state in vm.states" ng-model="address.stateId" ng-change="vm.setCountry()" ng-required="!address.isForeign" validation-message>
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group validationContainer">
                <label class="control-label" for="zipCode">{{vm.getZipCodeLabel(address.stateId)}}</label>
                <input id="zipCode" name="zipCode" type="text" class="form-control input-sm" ng-model="address.zipCode" ng-required="!address.isForeign" ng-pattern="vm.getZipCodePattern()" validation-message>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-show="address.isForeign">
            <div class="form-group validationContainer">
                <label class="control-label" for="countryId">Country</label>
                <select id="countryId" name="countryId" class="form-control input-sm" ng-options="country.id as country.value for country in vm.countries | filter : filterNonForeignCountries" ng-model="address.countryId" ng-required="address.isForeign" validation-message>
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
</section>

    <button class="save-btn button" ng-click="vm.save(vm.addressForm)">Save</button>
</form>
